@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans|Roboto');


* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #2c3e50;
}

.centered{
    margin: 0 auto;
}


.nav .centered{
    width: 900px
}

.nav a{
    padding: 20px;
    font-size: 1.3em;
    font-weight: 300px;
    font-family: 'Roboto Sans', sans-serif;
     display: inline-block;
     /*border-right: 1px solid lightgray;*/
    text-transform: uppercase;
}

.centered.loginNav{
    width:350px;
}

#task-form{
    width:900px;
}

.nav a:hover{
    background-color: #20354a;
}

.nav{
    background-color:#34495e;
        box-shadow: 0px 1px 3px 1px #2b2b2b;
}

h2 {
    padding: 20px;
    color: #ecf0f1;
}

fieldset {
    border: none;
}

.formContainer {
    position: relative;
    width: 350px;
}

#login,
#register {
    display: none;
}


form {
    background: #ecf0f1;
    width: 350px;
    padding: 50px 60px;
    box-shadow: 2px 6px 10px 2px #292929;
}


form.centered h1{
    padding:0;
    margin-bottom: 20px;
       color: #7d7d7d;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form textarea {
    padding: 25px 15px;
    margin: 3px 0px 20px 0px;
    width: 100%;
    height: 40px;
    display: block;
    font-size: 18px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    border: 1px solid #cac6c6;
}

form textarea{
    height: 200px;
}

form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="text"]:focus,
form textarea:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #1abc9c;
}

form input[type="submit"] {
    background: #1abc9c;
    padding: 10px;
    height: 60px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
}

form p{
    margin-top:30px;
}

form a{
     color: #1bc6a4;
}

form a:hover{
     color: #1abc9c;
}

.top-spaced{
    margin-top:80px;
}

form input[type="submit"]:hover {
    background: #1bc6a4;
}

.randompad {
    padding: 10px;
}

label.required::after{
  content: '*';
  color:red;
  margin-left:2px;
}

.error-box{
    color:red;
    margin-top: 20px;   
    font-weight: 700;
}

.green {
    color: #1abc9c;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

a:hover {
    color: #1abc9c;
}