@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Open+Sans|Roboto');
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #2c3e50;
    color: whitesmoke;
}

.centered {
    margin: 0 auto;
}

.fix-left{
    float:left;
    margin-right: 40px;
}
.nav .centered {
    width: 900px
}

.nav a {
    padding: 35px 20px;
    font-size: 1.3em;
    font-weight: 300px;
    font-family: 'Roboto Sans', sans-serif;
    display: inline-block;
    /*border-right: 1px solid lightgray;*/
    text-transform: uppercase;
}

.centered.loginNav {
    width: 350px;
}

.white-board {
    background-color: white;
    color: #20354a;
    padding: 120px 60px;
    font-size: 1.2em;
    border-bottom: 1px solid lightgray;
    overflow-y: auto;
}

.white-board .centered {
    width: 60%;
}

.btn-white {
    background-color: white;
    display: inline-flex;
    padding: 15px;
    margin: 30px 0px;
    color: #20354a;
    border-radius: 5px;
    border: 2px solid lightgray;
    font-weight: bold;
}

.view-container {
    /*background: #ecf0f1;*/
    width: 60%;
    overflow-x: auto;
    padding: 100px;
}

.full-height{
       height: 100vh;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #2f2f2f;
}

#projectsTable thead tr{
    background-color:#1f965e;
}


table thead tr {
    background-color: #285b86;
    color: white;
}

table tr {
    border-bottom: 1px solid #ddd;
    /*background-color: #20354a;*/
    background-color: white;
    color: #2d2d2d;
}

table tr:nth-child(2n) {
    background-color: #eff2f4;
    color: #2d2d2d;
}

table td,
table th {
    padding: 20px 10px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    font-weight: normal;
    font-size: 1.05em;
}

table a {
    color: #34495e;
}

#task-form {
    width: 60%;
    padding: 40px 80px;
    height: 100vh;
}

.nav a:hover {
    background-color: #20354a;
}

.nav {
    background-color: #34495e;
    box-shadow: 0px 1px 3px 1px #2b2b2b;
}

h2 {
    padding: 20px;
    color: #ecf0f1;
}

fieldset {
    border: none;
}

.formContainer {
    position: relative;
    width: 350px;
}

#login,
#register {
    display: none;
}

form {
    background: #ecf0f1;
    width: 350px;
    padding: 50px 60px;
    box-shadow: 2px 6px 10px 2px #292929;
    color: black;
}

form.centered h1 {
    padding: 0;
    margin-bottom: 20px;
    color: #7d7d7d;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form textarea,
from select option {
    padding: 25px 15px;
    margin: 3px 0px 20px 0px;
    width: 100%;
    height: 40px;
    display: block;
    font-size: 18px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    border: 1px solid #cac6c6;
}

form textarea {
    height: 200px;
}

form select{
        padding: 15px 15px;
    margin: 3px 0px 20px 0px;
    display: block;
    width: 100%;
    font-size: 1.2em;
}

form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="text"]:focus,
form textarea:focus,
from select option {
    outline: none;
    box-shadow: 0 0 1px 1px #1abc9c;
}

form input[type="submit"] {
    background: #1abc9c;
    padding: 10px;
    height: 60px;
    font-size: 20px;
    display: block;
    width: 100%;
    border: none;
    color: #fff;
}

form p {
    margin-top: 30px;
}

form a {
    color: #1bc6a4;
}

form a:hover {
    color: #1abc9c;
}

.top-spaced {
    margin-top: 80px;
}

form input[type="submit"]:hover {
    background: #1bc6a4;
}

.randompad {
    padding: 10px;
}

label.required::after {
    content: '*';
    color: red;
    margin-left: 2px;
}

.error-box {
    color: red;
    margin-top: 20px;
    font-weight: 700;
}

.green {
    color: #1abc9c;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

a:hover {
    color: #1abc9c;
}

dl{
    font-weight: 1.2em;
}

dd, dt{
    display:inline-flex;
    margin:20px 40px;
}

.text-box{
    padding: 50px;
    background-color: white;
    color: black;
    margin-bottom: 50px;
    border: 3px solid #2f2f2f;
}